body{
	margin: 0;
	padding: 0;
	background: linear-gradient(90deg, rgba(35, 190, 180, 1) 0%, rgba(250, 180, 50, 1) 67%);
}
 .container{
 	
 }

 .box{
 	background: white;
 	width: 350px;
 	height: 450px;
 	position: relative;
 	margin: 6% auto;
 	padding: 5px;
 }
 .avatar{
 	top: -50px;
 	left: 120px;
 	position: relative;
 	border-radius: 20%px;
 }
 #picture{
 	border-radius: 50%;
 }
 .banner{
 	font-weight: bold;
 	font-size: medium;
 	letter-spacing: 2px;
 	border: none;
 	cursor: pointer;
 	color: #4287f5;
 	left: 125px;
 	position: relative;
 	padding: 10px;
 	background: linear-gradient(to right, #42f5ef, #f5c842);
 	border-radius: 20px;
 	margin-top: .5px;
 	width: 65px;
 }


 span{
 	left: 80px;
 	position: relative;
 	cursor: pointer;
 }
 .sign{
 	margin-top: 1em;
 	position: relative;
 	left: 100px;
 }

 .up{
 	/*position: relative;
 	left: 140px;
 	cursor: pointer;
 	margin-top: 1em;*/
 	border: none;
 	cursor: pointer;
 	color: #4287f5;
 	left: 133px;
 	position: relative;
 	padding: 5px;
 	background: linear-gradient(to right, #42f5ef, #f5c842);
 	border-radius: 20px;
 	margin-top: 2em;
 	width: 57px;
}
 .name_1{
 	position: relative;
 	margin-bottom: .5em;
 }
 .password_1{
 	position: relative;
 	margin-bottom: .5em;
 	margin-top: .5em;
}

.btn{
	position: relative;
 	margin-bottom: 1em;
 	margin-top: 2em;
 	left: 140px;
 	padding: 3px 8px;
 	color: white;
 	background: #3950a3;
 	border-radius: 30px;
 	cursor: pointer;
}
