* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {
  margin-top: 50px;

  font-family: sans-serif;
}

.container {
  width: 35%;

  height: 550px;

  /* border: 2px solid #ccc; */

  margin: auto;

  padding: 20px;

  border-radius: 20px;

  background-color: #eb3434;
}

#logo {
  width: 130px;

  height: 130px;

  border-radius: 50%;
}

nav {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

ul {
  margin-right: 10px;

  margin-top: 5px;
}

li {
  list-style: none;

  text-align: center;

  margin: 10px;

  background-color: #eb9834;

  color: white;

  border-radius: 20px;

  padding: 5px 15px 5px 15px;
}

li:hover {
  border-radius: 20px;

  cursor: pointer;

  background-color: white;

  color: black;

  border-bottom: 1px solid black;
}

.section {
  background-color: rgb(255, 248, 240);

  border-radius: 10px;

  margin: 35px 0px 0 0;
}

#food {
  position: relative;

  top: 20px;

  left: 50px;

  width: 200px;

  height: 150px;

  border-radius: 10px;
}

#btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 10px 0px;
}
button {
  margin: 10px 25px 10px 25px;
  width: 100px;

  border: 0;

  text-align: center;

  background-color: #1e9420;

  color: white;

  border-radius: 20px;

  padding: 5px 15px 5px 15px;
}

button:hover {
  cursor: pointer;

  border: 0;

  border-radius: 20px;

  background-color: #32b834;

  color: white;

  border-bottom: 1px solid black;
}

p {
  text-align: center;

  font-size: 0.8em;

  opacity: 0.9;

  margin: 40px 5px 25px 5px;

  padding-bottom: 20px;
}

@media screen and (min-width: 760px) and (max-width: 1300px) {
  .container {
    width: 50%;
  }

  .section {
    margin: auto;

    width: 80%;
  }
}

@media screen and (min-width: 100px) and (max-width: 759px) {
  .container {
    width: 100%;

    margin: 0px 15px 0px 15px;
  }

  .section {
    margin: auto;

    width: 90%;
  }
}

